html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    width: 960px;
    margin: 0 auto;
}

section {
    outline: 1px solid #95a5a6;
}

.section-header {
    display: inline;
    background-color: #16a085;
}

section:not(:last-child) {
    margin-bottom: 10px;
}

/* Task 3 */
#gallery {
    padding: 0 5px;
    list-style: none;

    display: flex;
    justify-content: space-between;
}

.gallery-image {
    width: 300px;
    height: 200px;
    border: 2px solid teal;
}